body {
  margin: 10px;
}

/* to prevent the selector specificty rule from applying to this style we add the "!important" keyword  */
/* use should avoid this as much as possible, because this will make your css messy and hard to maintain */

/* h1 {
  color: dodgerblue !important;
} */

h1 {
  color: dodgerblue;
}

.highlight {
  color: deeppink;
}

/* this is the selector that is changing the style with a value of 100 on the specificty */
#products {
  color: green;
}

.featured #products {
  color: dodgerblue;
}
