body {
  margin: 10px;
}

p::first-letter {
  font-size: 140%;
  font-weight: bold;
}

p::first-line {
  font-weight: bold;
}

/* change the background color of the hightlighted text */
/* this only applies to this direct element */

/* p::selection {
  background-color: pink;
} */

/* to make it more flexible drop the element */
::selection {
  background-color: pink;
}

/* insert content before the content of this element */
/* make it a block element */
p::before {
  content: "...";
  display: block;
}
